body {
    font-family: 'Times New Roman', Times, serif;
    background-color: firebrick;
    color: cornsilk;
}
h1 {
    color: rgb(240, 220, 144);
}
ol > dl {
    font-weight: bolder;
}
dt {
    color: bisque;
}
ol dt:nth-child(6) {
   background-color: black;
}
.a::after {
    content: "📚";
}